<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="success"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-img src="assets/banner.png" class="ion-padding"></ion-img>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-weight: bold; text-align: center;">Conócenos!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Somos una pequeña empresa que pensó en la movilización de los alumnos ofreciendoles mayores oportunidades de traslado,
      nuestra idea consiste en que alumnos de la institución que posean vehículo y una licencia de conducir, puedan ayudar a otros alumnos
      que necesiten transporte y a la vez ganar dinero, de esta forma tambien asegurar de que los alumnos puedan trasladarse de forma segura y efectiva.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Diseño" src="assets/Foto_pantalla.png" />
    <ion-card-header>
      <ion-card-title style="font-weight: bold; text-align: center;">Nuestro Equipo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Contamos con un excelente equipo de trabajo y diseñadores que se esfuerzan día a día para mantener la app operativa y eficiente,
      creando los mejores diseños, colores e intentando mejorar cada vez mas nuestra aplicacion para que al usarla te sientas lo más comodo posible.
    </ion-card-content>
  </ion-card>
</ion-content>
