ion-card-header.ios{
    display: flex;
    flex-flow: column-reverse;
    background-color: black;
}


.ion-header {
    background-color: black; /* color de fondo */
}
  
.ion-toolbar {
    color: #fff; /* color de texto */
    text-align: center; /* posicion del texto */
}